.question-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
}
.question-page {
  max-width: 800px;
  background-color: var(--blue);
  margin: auto;
  position: relative;
  height: 100%;
  color: white;
  font-size: 1.5em;
  text-align: center;
  padding: 120px;
  font-family: "Quicksand_Bold";
}
.question-page .question {
  line-height: 1.5em;
  margin-top: 30%;
}
.question-page .success-message {
  font-size: 0.6em;
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translate(-50%);
}
.question-page .icon {
  position: absolute;
  width: 30px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.question-page .controls {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%);
  border: 3px solid white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.question-page .controls .controls-icon {
  width: 32px;
  max-height: 35px;
  cursor: pointer;
}

.question-page .controls .mid {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.question-page .controls .mid p {
  width: 42px;
}

.question-page .controls .mid img:last-child {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.svg-wrapper img {
  width: 30px;
  animation: animate 25s linear infinite;
  position: absolute;
  bottom: -150px;
}
.svg-wrapper img:nth-child(1) {
  position: absolute;
  width: 10px;
  top: 55%;
  left: 29%;
}
.svg-wrapper img:nth-child(2) {
  position: absolute;
  width: 38px;
  top: 5%;
  left: 15%;
}
.svg-wrapper img:nth-child(3) {
  position: absolute;
  width: 33px;
  top: 75%;
  left: 11%;
}
.svg-wrapper img:nth-child(4) {
  position: absolute;
  width: 43px;
  top: 48%;
  right: 15%;
}
.svg-wrapper img:nth-child(5) {
  position: absolute;
  width: 20px;
  top: 15%;
  right: 15%;
}
.svg-wrapper img:nth-child(8) {
  position: absolute;
  width: 20px;
  top: 88%;
  right: 10%;
}
.svg-wrapper img:nth-child(9) {
  position: absolute;
  width: 25px;
  top: 58%;
  right: 30%;
}
.svg-wrapper img:nth-child(12) {
  position: absolute;
  width: 13px;
  top: 8%;
  right: 45%;
}
.svg-wrapper img:nth-child(13) {
  position: absolute;
  width: 13px;
  top: 10%;
  left: 11%;
  rotate: 90deg;
}
.svg-wrapper img:nth-child(14) {
  position: absolute;
  width: 15px;
  top: 45%;
  left: 15%;
  rotate: 90deg;
}
.svg-wrapper img:nth-child(6),
img:nth-child(7),
img:nth-child(10),
img:nth-child(11) {
  display: none;
}
@media screen and (max-width: 700px) {
  .question-page .question {
    margin-top: 1em;
  }
  .question-page {
    padding: 120px 60px;
  }
}
/* DESKTOP ONLY */
@media screen and (min-width: 700px) {
  .question-container {
    top: 140px;
    height: 70%;
  }
  .question-page {
    border-radius: 10px;
  }
}
