.new-game span {
  display: block;
  margin-bottom: 6px;
}
.players {
  display: flex;
  align-items: center;
  gap: 10px;
}
.players input {
  padding: 8px 6px;
  font-size: 1em;
  color: #444444;
  border-radius: 4px;
  background-color: white;
  border: 1px solid #cecdcd;
}
.players input:focus {
  border: 1px solid var(--blue);
}
.players btn {
  margin: 0 0 0 10px;
}
.current-players p {
  position: relative;
}
.current-players img {
  width: 9px;
  top: 0;
  position: absolute;
  margin-left: 10px;
  cursor: pointer;
}
.new-game .mt-38 {
  margin-top: 38px;
}
