.saved-questions .players {
  display: flex;
  max-width: 250px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1em;
}
.saved-questions .players p {
  margin: 0;
  text-transform: uppercase;
}
.saved-questions .players p:after {
  content: " &";
}
.saved-questions .players p:last-child:after {
  content: "";
}
.saved-questions .icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}
.saved-questions .icon-wrapper div {
  display: flex;
  width: 80px;
  height: 80px;
  border: 3px solid white;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.saved-questions .icon-wrapper img {
  width: 30px;
  height: 30px;
}
