@font-face {
  font-family: "Quicksand_Bold";
  src: url(/src/assets/fonts/Quicksand_Bold.otf) format("opentype");
}

@font-face {
  font-family: "Quicksand_Bold_Oblique";
  src: url(/src/assets/fonts/Quicksand_Bold_Oblique.otf) format("opentype");
}

@font-face {
  font-family: "Quicksand_Book";
  src: url(/src/assets/fonts/Quicksand_Book.otf) format("opentype");
}

/* VARIABLES */
:root {
  --orange: #e26b54;
  --blue: #46bdc6;
  --dark-blue: #2f5e63;
  --yellow: #e5d96e;
  --black: #444444;
}

/* CSS RESET */
* {
  box-sizing: border-box;
}
body {
  font-size: 1.1em;
}
ul {
  list-style-type: none;
}
h1,
h2,
h3 {
  color: var(--orange);
  text-transform: uppercase;
}

.app .container {
  padding: 0 40px;
}
.btn {
  background: none;
  border: none;
  border-radius: 4px;
  background-color: var(--blue);
  cursor: pointer;
  color: white;
  padding: 12px 25px;
  font-family: "Quicksand_bold";
  text-transform: uppercase;
  font-size: 1em;
}
.error {
  color: #e10404;
}
